.not-found{
	width: 100vw;
	min-height: 100vh;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px 20px;
	text-align: center;
}
.not-found-container{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
.not-found img{
	width: 100%;
}

@media(max-width: 767px){
	.not-found-container {
		width: 100%;
	}
}